*{
    font-family: "Montserrat", sans-serif;
    
}

body {
    background-color: var(--cream);
}

h1,h2,h3,h4, .h1,.h2,.h3,.h4 {
    font-family: "Poppins", sans-serif;
}

:root{
    --pink: rgb(228, 153, 191);
    --lightviolet: rgb(168, 132, 194);
    --violet: rgb(144, 133, 199);
    --cream: #F2E2C4;
}

.tx-cream {
    color: var(--cream);
}

.tx-pink {
    color: var(--pink);
}

.tx-lightviolet{
    color: var(--lightviolet);
}

.tx-violet {
    color: var(--violet);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-lightviolet {
    background-color: var(--lightviolet);
}

.bg-violet {
    background-color: var(--violet);
}

.bg-cream {
    background-color: var(--cream);
}

/* fine impostazioni di base */

/* inizio navbar */

.navbar {
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    padding: 0;
    background-color: var(--cream);
    z-index: 1;
}

.logo {
    height:100px;
    transition: 1s;
    margin-left: 200px;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0;
}

.DD2-nav{
    border: none;
}

.dropdown-menu{
    border:none;
}

.dropdown-item:hover{
    background-color: var(--lightviolet);
}




/* fine navbar */

/* inizio header */

div > h1 {
    padding-top: 120px;
}

.header-box-custom{
    margin-top: 120px;
    height:100vh;
}

.col-header-custom-lati{
    height: 50vh;
}

#foto1, #foto3{
    height: 50vh;
}

.col-header-custom-centro{
    height: 100vh;
}

#foto2 {
    height: 100vh;
    width: 100%;
}

.carouselCustom{
    height: 50vh;
    
}

.annuncio-box{
    width: 100%;
    height: 50vh;
}

/* button di uiverse */

.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* fine button */

.ambassador-div h2 {
    font-size:50px;
    font-weight: 600;
    
}

.ambassador-div h4 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ambassador-div p{
    font-size: 20px;
    margin-bottom: 20px;
}

.ambassador-div button {
    border: 1px solid black;
    width: 200px;
}

.ambassador-div button:hover {
    border: 1px solid var(--cream);
    background-color: var(--cream);
    
}

/* fine header */