*{
    font-family: "Montserrat", sans-serif;
    background-color: var(--cream);
}

h1,h2,h3,h4, .h1,.h2,.h3,.h4 {
    font-family: "Poppins", sans-serif;
}

:root{
    --pink: rgb(228, 153, 191);
    --lightviolet: rgb(168, 132, 194);
    --violet: rgb(144, 133, 199);
    --cream: #F2E2C4;
}

.tx-cream {
    color: var(--cream);
}

.tx-pink {
    color: var(--pink);
}

.tx-lightviolet{
    color: var(--lightviolet);
}

.tx-violet {
    color: var(--violet);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-lightviolet {
    background-color: var(--lightviolet);
}

.bg-violet {
    background-color: var(--violet);
}

.bg-cream {
    background-color: var(--cream);
}

/* fine impostazioni di base */